<ul>
  <% @movies.each do |movie| %>
    <li>
      <%= movie.name %> (<%= movie.year %>), created by <%= movie.director %>, main character: <%= movie.main_actor %>
      <a href="/movies/<%= movie.id %>/edit">Edit</a>
      <form action="/movies/<%= movie.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete">
      </form>
    </li>
  <% end %>
</ul>

<form action="/movies" method="post">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name">
  <label for="year">Year:</label>
  <input type="text" id="year" name="year">
  <label for="director">Director:</label>
  <input type="text" id="director" name="director">
  <label for="main_actor">Main Actor:</label>
  <input type="text" id="main_actor" name="main_actor">
  <input type="submit" value="Add Movie">
</form>

<form action="/movies/search" method="get">
  <label for="search">Search:</label>
  <input type="text" id="search" name="search">
  <input type="submit" value="Search">
</form>

<form action="/movies/sort" method="get">
  <select name="sort">
    <option value="year">Year</option>
    <option value="name">Name</option>
    <option value="director">Director</option>
    <option value="main_actor">Main Actor</option>
  </select>
  <input type="submit" value="Sort">
</form>
